<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="account" class="com.bytecode.spring.Account">
		<property name="balance" value="10000"></property>
	</bean>

	<bean id="customer" class="com.bytecode.spring.Customer" scope="singleton">
		<property name="name" value="Raja">
		</property>
		<property name="account" ref="account">
		</property>
	</bean>
</beans>
