<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	

	<bean id="bank" class="com.bytecode.spring.beans.Bank">
		<constructor-arg name="bankName" value="Punjab National Bank" />
		<constructor-arg name="tollFreeNumber" value="18001802222" />
	</bean>

	<bean id="customer" class="com.bytecode.spring.beans.Customer"
		autowire="constructor" depends-on="dep,dep1" >
		<property name="customerName" value="Raja" />
		<property name="cusPhoneNumber" value="9794687277" />
	</bean>
	<bean id="dep1" class="com.bytecode.spring.beans.Depend1" lazy-init="true"/>
	<bean id="dep" class="com.bytecode.spring.beans.Depdend"/>
	
</beans>